.text-shadow {
    text-shadow: 2px 2px 2px(rgba 5,5,5,5);
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  .index-hero {
    background: url(../images/index_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  .recipe-hero {
    background: url(../images/recipes-medpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  .login-hero {
    background: url(../images/login_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  .tabs .tab a {
    color: #f9660af3;
    background-color: transparent;
} /*colour of text*/
    
.tabs .tab a.active {
    background-color: transparent;
    color: #f9660af3;
    outline: none;
} /*Background and text color when a tab is active*/

.tabs .tab a:hover {
    background-color: transparent;
    color: #f9660af3;
} /*Background and text color on hover*/

.tabs .indicator {
    background-color: #f9660af3;
} /*Color of underline*/

 