{% extends "base.html" %}
{% block content %}

<div class="container fluid">
  <h3 class="header center orange-text">Add A New Recipe</h3>
    <form  method="POST" action="{{ url_for('add_recipes') }}">
      <div class="row card-panel" id="edit_container">

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">poll</i>
            <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
              type="text" class="materialize-textarea validate" required>
                <label for="recipe_name">Recipe Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">poll</i>
              <select id="category_name" name="category_name" class=" materialize-textarea validate" required>
                <option value="" disabled selected>Choose Category</option>
                {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
              </select label="category_name">
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6 m3 l3">
            <i class="material-icons prefix">timer</i>
              <input class="materialize-textarea" type="text" id="prep_time" name="prep_time" min="5" max="120">
                <label for="prep_time">Prep Time</label>
          </div>
    
          <div class="input-field col s6 m3 l3">
            <i class="material-icons prefix">timer</i>
              <input class="materialize-textarea" type="text" id="cook_time" name="cook_time">
                <label for="cook_time">Cook Time</label>
          </div>
          <div class="input-field col s6 m3 l3">
            <i class="material-icons prefix">sort</i>
              <input id="serves" name="serves" minlength="1" maxlength="2"
                type="text" class="materialize-textarea validate" required>  
              <label for="serves">Serves</label>
          </div> 
          <div class="input-field col s6 m3 l3">
            <i class="material-icons prefix">star</i>
            <select id="difficulty_level" name="difficulty_level" class="materialize-textarea validate" required>
              <option value="" disabled selected>Difficulty</option>
              {% for difficult in difficulty %}
              <option value="{{ difficult.difficulty_level }}">{{ difficult.difficulty_level }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="tabs">
              <li class="tab col s6 m6 l6"><a href="#tab1" id="btn">Add Ingredients</a></li>
              <li class="tab col s6 m6 l6"><a class="active" href="#tab2">Method</a></li>
            </ul>
          </div>
          
            <table>
              <tbody>
                <tr id="table_border" class="col s12">
                  <td>
                    <div id="ip_div">
                      <!--   <label for="ingredient_1"></label>
                  <input type="number" id="ingredient_1" name="ingredient_1" placeholder="ingredient_1">
                  <label for="num2">num2:</label>
                  <input type="number" id="num2" name="num2" placeholder="num2"> -->
                    </div>
                  </td>
                  
              </tbody>
            </table>
        </div>

        <div id="tab2" class="col s12">
          <blockquote><strong>Method:</strong></blockquote>
            <table class="striped">
              <tbody>
                <tr>
                  <td><strong>Step 1: </strong><br>
                    <input id="method_1" name="method_1" type="text" class="materialize-textarea validate">
                      <label for="method_1"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 2: </strong><br>
                    <input id="method_2" name="method_2" type="text" class="materialize-textarea validate">
                      <label for="method_2"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 3: </strong><br>
                    <input id="method_3" name="method_3" type="text" class="materialize-textarea validate">
                      <label for="method_3"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 4: </strong><br>
                    <input id="method_4" name="method_4" type="text" class="materialize-textarea validate">
                    <label for="method_4"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 5: </strong><br>
                    <input id="method_5" name="method_5" type="text" class="materialize-textarea validate">
                    <label for="method_5"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 6: </strong><br>
                    <input id="method_6" name="method_6" type="text" class="materialize-textarea validate">
                    <label for="method_6"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 7: </strong><br>
                    <input id="method_7" name="method_7" type="text" class="materialize-textarea validate">
                    <label for="method_7"></label>
                  </td>
                </tr>
                <tr>
                  <td><strong>Step 8: </strong><br>
                    <input id="method_8" name="method_8" type="text" class="materialize-textarea validate">
                    <label for="method_8"></label>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
          
        <!-- recipe url input field-->
        <div class="input-field col s12">
          <i class="far fa-images prefix"></i>
            <input id="image" name="image" alt="Recipe Image" class="responsive-img" type="url" pattern="https://.*" size="30" validate>
              <label for="image">Recipe Image URL
                <i class="fas fa-question-circle tooltipped" data-position="top"
                  data-tooltip="You can upload your image to a free image hosting website (e.g. ImgBB) and paste direct link here"></i>
              </label>
        </div>

        <!-- Add Recipe Button -->
        <div class="row">
          <div class="col s6 center-align">
            <button type="submit" class="btn-large waves-effect waves-light orange">Add Recipe  <i class="fas fa-plus-square"></i></button>
          </div>
        </div>
      </div>
    </form>
</div>





{% endblock %}