{% extends "base.html" %}
{% block content %}
<div class="container">
  <h3 class="header center orange-text">Manage Categories</h3>

  <div class="row center">
    <div class="col s12 m3 offset-m4">
      <div class="card center orange darken-1">
        <div class="card-content white-text">
          <span class="card-title"><strong>Add New Category Here</strong></span>
          <form class="" method="POST" action="{{ url_for('add_category') }}">
            <input id="category_name" name="category_name" minlength="3" maxlength="20" type="text" class="validate" required>
            <label for="category_name"></label>
            <button type="submit" class="waves-effect green darken-1 btn"><strong>Add Category</strong></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% for category in categories %}
      <div class="col s12 m3">
        <div class="card orange darken-1">
          <div class="card-content white-text">
            <span class="card-title"><strong>{{ category.category_name }}</strong></span>
            <div class="card-action">
              <a href="{{ url_for('delete_category', category_id=category._id) }}" class="waves-effect orange darken-4 btn-small"><i class="material-icons left">delete</i>Delete</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}      
  </div>
  
  <div class="row center">
  <a href="{{ url_for('admin')}}" class="waves-effect waves-light btn-large"><i class="fa fa-arrow-circle-left"></i><strong>  Back To Admin Dashboard</strong></a>
  </div>

</div>
 

      
{% endblock %}