{% extends "base.html" %}
{% block content %}
<div class="grey darken-4">
<div class="container fluid">
  <br>
  <h3 class="header center orange-text">Edit Recipe</h3>
  <form  method="POST" action="{{ url_for('edit_recipes', recipe_id=recipe._id) }}">
    <div class="row card-panel" id="edit_container">
      <div class="row" id="recipe_css_image">
        {% if recipe.image %}
          <img src="{{ recipe.image }}" alt="Recipe Image" class="responsive-img" id="recipe_css_image">
        {% else %}
          <img src="{{ url_for('static', filename='images/blasheropng.png') }}"
            alt="No recipe image available" class="responsive-img">
        {% endif %}
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">poll</i>
          <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
            type="text" class="materialize-textarea validate" value="{{ recipe.recipe_name }}" required>
          <label for="recipe_name">Recipe Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">poll</i>
          <select id="category_name" name="category_name" class="materialize-textarea validate" required>
            <option value="" disabled>Choose Category</option>
            {% for category in categories %}
              {% if category.category_name == recipe.category_name %}
              <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
              {% else %}
              <option value="{{ category.category_name }}">{{ category.category_name }}</option>
              {% endif %}
            {% endfor %}
          </select>
            <label for="category_name">Category</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m3 l3">
          <i class="material-icons prefix">timer</i>
            <input class="materialize-textarea" type="text" id="prep_time" name="prep_time" min="5" max="120" value="{{ recipe.prep_time }}">
              <label for="prep_time">Preperation Time (minutes)</label>
        </div>
        <div class="input-field col s6 m3 l3">
          <i class="material-icons prefix">timer</i>
          <input class="materialize-textarea" type="text" id="cook_time" name="cook_time" value="{{ recipe.cook_time }}">
          <label for="cook_time">Cooking Time (minutes) </label>
        </div>
        <div class="input-field col s6 m3 l3">
          <i class="material-icons prefix">sort</i>
          <input id="serves" name="serves" minlength="1" maxlength="2"
            type="text" class="materialize-textarea validate" value="{{ recipe.serves }}"required>  
          <label for="serves">Serves</label>
        </div> 
          <div class="input-field col s6 m3 l3">
            <i class="material-icons prefix">star</i>
            <select id="difficulty_level" name="difficulty_level" class="materialize-textarea validate">
              <option value="" disabled>Difficulty</option>
              {% for difficult in difficulty %}
                {% if difficult.difficulty_level == recipe.difficulty_level %}
                <option value="{{ difficult.difficulty_level }}"selected>{{ difficult.difficulty_level }}</option>
                {% else %}
              <option value="{{ difficult.difficulty_level }}">{{ difficult.difficulty_level }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label for="difficulty_level">Difficulty</label>
        </div>
      </div><br>

      <div class="row">
        <div class="col s12 m12 l12">
          <ul class="tabs">
            <li class="tab col s6 m6 l6"><a href="#tab1">Ingredients</a></li>
            <li class="tab col s6 m6 l6"><a href="#tab2">Method</a></li>
          </ul>
      </div>
        
        <div id="tab1" class="col s12">
        <blockquote><strong>Ingredients:</strong></blockquote> 
          
          <table>
            
        
            <tbody>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_1" name="ingredient_1" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_1 }}">
                  <label for="ingredient_1"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_2" name="ingredient_2" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_2 }}">
                  <label for="ingredient_2"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_3" name="ingredient_3" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_3 }}">
                  <label for="ingredient_3"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_4" name="ingredient_4" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_4 }}">
                  <label for="ingredient_4"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_5" name="ingredient_5" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_5 }}">
                  <label for="ingredient_5"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_6" name="ingredient_6" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_6 }}">
                  <label for="ingredient_6"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_7" name="ingredient_7" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_7 }}">
                  <label for="ingredient_7"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_8" name="ingredient_8" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_8 }}">
                  <label for="ingredient_8"></label>
                </td>
              </tr>
              <tr id="table_border" class="col s12">
                <td>
                  <input id="ingredient_9" name="ingredient_9" type="text" class="materialize-textarea validate" value="{{ recipe.ingredient_9 }}">
                  <label for="ingredient_9"></label>
                </td>
              </tr>
            </tbody>
          </table>
        
      </div>
      <div id="tab2" class="col s12">
      <blockquote><strong>Method:</strong></blockquote>
      
        <table class="striped">
          <tbody>
            <tr>
              <td><strong>Step 1: </strong><br>
                <input id="method_1" name="method_1" type="text" class="materialize-textarea validate" value="{{ recipe.method_1 }}">
                <label for="method_1"></label>
              </td>
            </tr>
            <tr>
              <td><strong>Step 2: </strong><br>
                <input id="method_2" name="method_2" type="text" class="materialize-textarea validate" value="{{ recipe.method_2 }}">
                <label for="method_2"></label>
              </td>
            </tr>
            <tr>
              <td><strong>Step 3: </strong><br>
                <input id="method_3" name="method_3" type="text" class="materialize-textarea validate" value="{{ recipe.method_3 }}">
                <label for="method_3"></label>
              </td>
            </tr>
            <tr>
              <td><strong>Step 4: </strong><br>
                <input id="method_4" name="method_4" type="text" class="materialize-textarea validate" value="{{ recipe.method_4 }}">
                <label for="method_4"></label>
              </td>
            </tr>
            <tr>
              <td><strong>Step 5: </strong><br>
                <input id="method_5" name="method_5" type="text" class="materialize-textarea validate" value="{{ recipe.method_5 }}">
                <label for="method_5"></label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>




      
        <!-- recipe url input field-->
      <div class="input-field col s12">
        <i class="far fa-images prefix"></i>
          <input id="image" name="image" alt="Recipe Image" class="responsive-img" type="url" pattern="https://.*" size="30" value="{{ recipe.image }}" validate>
            <label for="image">Recipe Image URL
              <i class="fas fa-question-circle tooltipped" data-position="top"
                data-tooltip="You can upload your image to a free image hosting website (e.g. ImgBB) and paste direct link here"></i>
            </label>
      </div>


  <div class="row">
    <div class="col s6">
              
<!-- Back to previous page Button -->
      <a href="#" class="btn-large red text-shadow" onclick="history.back()">Back
        <i class="fa-solid fa-circle-left right"></i>
      </a>
      <!-- Edit Recipe Button -->
    <button type="submit" class="btn-large waves-effect waves-light orange">Update Recipe  <i class="fas fa-plus-square"></i></button>
    </div>
  </div>


    </div>
  </form>
  <br>
</div>
</div>


{% endblock %}