{% extends "base.html" %}
{% block content %}
<div class="index-hero">
  <div class="container">
    <br>
      <h1 class="header center orange-text" id="logo">Blas</h1>
        <div class="row center">
          <h6 class="header col s12 orange-text">Save, Share and Organize your favourite recipes online!</h6>
        </div>
        <div class="row center">
          <a href="{{ url_for('get_recipes') }}" class="btn-large waves-effect waves-light orange">Get Cooking!</a>
        </div>
  </div>
    <br>

  <div class="row">
    <div class="col s12">
      <p class="center-align orange-text strong-text">
        New Here? <a href="{{ url_for('register') }}" class="white-text text-darken-4 strong-text">Sign Up</a>
      </p>
    </div>
  </div>     
</div>

{% endblock %}
