{% extends "base.html" %}
{% block content %}

<div class="grey darken-4">
<!-- PROFILE CARD -->
  <div class="row">
    <div class="col s12 m8 offset-m2">
          <h3 class="center-align orange-text text-darken-3">
              Welcome To Your Recipe Dashboard
            </h3>
            <p class="strong center white-text"><strong>Here you can add, edit and delete your recipes</strong></p>
    </div>

<!--   Icon Section   -->
<div class="container-fluid">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <a href="{{ url_for('add_recipes') }}"> 
        <h2 class="center orange-text"><i class="fas fa-plus-circle"></i></h2>
        <h5 class="center white-text">Add Recipes</h5>
      </a>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center orange-text"><i class="fas fa-edit"></i></h2>
        <h5 class="center white-text">Edit Recipes</h5>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center orange-text"><i class="fa fa-trash" aria-hidden="true"></i></h2>
        <h5 class="center white-text">Delete Recipes</h5>
      </div>
    </div>
  </div>
</div> 
  

<!-- displays users recipes -->
  {% for recipe in recipes %}
    
            <div class="col s12 m4 l3">
                <div class="card medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        {%- if recipe.image -%}
                        <img src="{{ recipe.image }}" alt="Recipe Image" class="responsive-img">
                        {%- else -%}
                        <img src="{{ url_for('static', filename='images/blasheropng.png') }}"
                          alt="No recipe image available" class="responsive-img">
                        {%- endif -%}
                        
                      </div>
                    <div class="card-content flow-text">
                        <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">more_vert</i></span>
                        <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="waves-effect orange waves-light btn-small"><i class="material-icons left">edit</i>Edit Recipe</a><br>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect orange waves-light btn-small modal-trigger" data-target="modal-delete"><i class="material-icons left">delete</i>Delete Recipe</a>
                        
                        <!-- Confirm delete modal   --> 

 <!-- Modal Structure -->
 <div id="modal-delete" class="modal">
  <div class="modal-content">
    
    <p>Are you sure you want to delete {{ recipe_name }} </p>
  </div>
  <div class="modal-footer">
    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
  </div>
</div>

                      </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
                        <p><i id="icon_left" class="material-icons left">poll</i><strong>Category:</strong> {{ recipe.category_name }}</p>
                        <p><i id="icon_left" class="material-icons left">sort</i><strong>Serving:</strong> {{ recipe.serves }}</p>
                        <p><i id="icon_left" class="material-icons left">timer</i><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                        <p><i id="icon_left" class="material-icons left">timer</i><strong>Cooking Time:</strong> {{ recipe.cook_time }}</p>
                        <p><i id="icon_left" class="material-icons left">star</i><strong>Rating:</strong> {{ recipe.rating }}</p>
                        <p><em><strong>by: {{ recipe.created_by }}</strong></em></p>
                        <a href="{{ url_for('view_recipes', recipe_id=recipe._id) }}" class="waves-effect orange waves-light btn-small"><i class="material-icons left">remove_red_eye</i>View Recipe</a><br>
                    </div>
                </div>
            </div>
         
  {% endfor %}
  </div>
   
</div>
{% endblock %}