{% extends "base.html" %}
{% block content %}


    <div class="container-fluid">
        <h1 class="header center orange-text">List of Recipes</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <div class="searchbox">
                    <form method="POST">
                        <input name="search" type="text" class="center" placeholder="What are you looking for?">
                        <button id="search" value="search" name="action" type="submit" method="POST" class="btn-floating">
                        <i class="material-icons orange">search</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for recipe in recipes %}
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if recipe.image %}
                        <img src="{{ recipe.image }}" alt="Recipe Image" class="responsive-img">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/blasheropng.png') }}"
                          alt="No recipe image available" class="responsive-img">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">more_vert</i></span>
                        <p><a href="{{ url_for('view_recipes', recipe_id=recipe._id) }}">View Recipe</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
                        <p><i id="icon_left" class="material-icons left">poll</i><strong>Category:</strong> {{ recipe.category_name }}</p>
                        <p><i id="icon_left" class="material-icons left">sort</i><strong>Serving:</strong> {{ recipe.serves }}</p>
                        <p><i id="icon_left" class="material-icons left">timer</i><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                        <p><i id="icon_left" class="material-icons left">timer</i><strong>Cooking Time:</strong> {{ recipe.cook_time }}</p>
                        <p><i id="icon_left" class="material-icons left">star</i><strong>Rating:</strong> {{ recipe.rating }}</p>
                        <p><i id="icon_left" class="material-icons left">star</i><strong>ID:</strong> {{ recipe._id }}</p>
                        <p><em><strong>by: {{ recipe.created_by }}</strong></em></p>
                        <a href="{{ url_for('view_recipes', recipe_id=recipe._id) }}" class="waves-effect orange waves-light btn-small"><i class="material-icons left">remove_red_eye</i>View Recipe</a><br><br>
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="waves-effect orange waves-light btn-small"><i class="material-icons left">edit</i>Edit Recipe</a>
                        {% endif %}
                    </div>
                </div>
        </div>    
    </div>
    {% endfor %} 

              
{% endblock %}
</body>
</html>