{% extends "base.html" %}
{% block content %}
 
<div class="container-fluid">
    <h3 class="header center teal-text text-lighten-2">{{ recipe.name }}</h3><br>
</div><br><br>
<div class="row center">
  <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="btn-floating tooltipped data-position="bottom" data-tooltip="Edit This Recipe" btn-large waves-effect waves-orange"><i class="material-icons">edit</i></a>
</div> 



<div class="container">
<div class="row">

<div class="col s12 m6 l6">                  
            {% if recipe.image %}
                        <img src="{{ recipe.image }}" alt="Recipe Image" class="responsive-img">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/blasheropng.png') }}"
                          alt="No recipe image available" class="responsive-img">
                        {% endif %}
</div>



{% endblock %}