{% extends "base.html" %}
{% block content %}
<div class="grey darken-4 center-align">
<div class="container-fluid">
  <div class="row card-panel" id="view_container">
    <a class="left-align" href="#" onclick="history.go(-1)">Go Back</a>
    <h3 class="header center orange-text">{{ recipe.recipe_name }}
        {% if session.user|lower == recipe.created_by|lower %}
        <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="orange btn-floating tooltipped" data-position="bottom" data-tooltip="Edit Recipe"><i class="material-icons orange">edit</i></a>
        {% endif %}
    </h3>
<br><br> 
<div class="container">
  <div class="row">
  <div class="col s12 m6 l6">                  
              {% if recipe.image %}
                          <img src="{{ recipe.image }}" alt="Recipe Image" class="responsive-img">
                          {% else %}
                          <img src="{{ url_for('static', filename='images/blasheropng.png') }}"
                            alt="No recipe image available" class="responsive-img">
                          {% endif %}
  </div>
  
<div class="col s12 offset-s3 m6 offset-m4 l6">
  <blockquote><strong>Category:</strong> {{ recipe.category_name }}</blockquote>
  <blockquote><strong>Prep Time:</strong> {{ recipe.prep_time }}</blockquote>
  <blockquote><strong>Cooking Time:</strong> {{ recipe.cook_time }}</blockquote>
  <blockquote><strong>Difficulty Rating:</strong> {{ recipe.rating }}</blockquote>
  <blockquote><strong>Serves:</strong> {{ recipe.serves }}</blockquote>
</div>
</div><br><br>  

<div class="row">
<div class="col s12 m12 l12">
<ul class="tabs">
<li class="tab col s6 m6 l6"><a href="#tab1">Ingredients</a></li>
<li class="tab col s6 m6 l6"><a href="#tab2">Method</a></li>
</ul>
</div>

<div id="tab1" class="col s12">
<blockquote><strong>Ingredients:</strong></blockquote> 
  
  <table>
    

    <tbody>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_1 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_2 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_3 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_4 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_5 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_6 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_7 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_8 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_9 }}</td>
      </tr>
      <tr id="table_border" class="col s12">
        <td>{{ recipe.ingredient_10 }}</td>
      </tr>
    </tbody>
  </table>              
  
  
</div>
<div id="tab2" class="col s12">
<blockquote><strong>Method:</strong></blockquote>

  <table class="striped">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Step 1: </strong><br>{{ recipe.method_1 }}</td>
      </tr>
      <tr>
        <td><strong>Step 2: </strong><br>{{ recipe.method_2 }}</td>
      </tr>
      <tr>
        <td><strong>Step 3: </strong><br>{{ recipe.method_3 }}</td>
      </tr>
      <tr>
        <td><strong>Step 4: </strong><br>{{ recipe.method_4 }}</td>
      </tr>
      <tr>
        <td><strong>Step 5: </strong><br>{{ recipe.method_5 }}</td>
      </tr>
      <tr>
        <td><strong>Step 6: </strong><br>{{ recipe.method_6 }}</td>
      </tr>
      <tr>
        <td><strong>Step 7: </strong><br>{{ recipe.method_7 }}</td>
      </tr>
      <tr>
        <td><strong>Step 8: </strong><br>{{ recipe.method_8 }}</td>
      </tr>
      <tr>
        <td><strong>Step 9: </strong><br>{{ recipe.method_9 }}</td>
      </tr>
      <tr>
        <td><strong>Step 10: </strong><br>{{ recipe.method_10 }}</td>
      </tr>
      
    </tbody>
  </table>                              

</div>

</div>

</div>
  
</div>




</div>

{% endblock %}